
.Playlist {
    border: 2px solid black;              /* Solid border to differentiate Container from background*/
    border-radius: 1.5rem;                  /* Rounds corners of Search Results container */
    background-color:beige;               /* rgb(139,69,19);   /* 'Saddle brown' for current background color*/
    /*overflow-y: scroll;*/
    box-shadow: 0 4px 2px 2px #000000;    /* Shadow around search results container for 'pop' effect */
    padding: 0.88rem;                       /* Prevents content from touch border/edge */

    width: 45%;         /* Takes portion of parent container width (to make room for Playlist container */
    height: 950px;      /* Height of container */

    display: flex;          /* Store search result output in Flex layout */ 
    flex-direction: column; /* column direction used when search results are provided */
}

.Playlist input {
    border: none;                           /* Removes border around input box for blending */
    font-family: 'Poppins', sans-serif;     /* Chosen placeholder/input text font */
    font-size: 1.55rem;                     /* font size */
    background: transparent;                /* removes default textbox background color to blend in background */
    border-bottom: 2px solid rgba(75, 75, 75, 0.61);   /* bottom borderline to visual separation */
}

.Playlist input:focus {
    outline: none;  /* Removes automatic textbox outline/border when user focuses/clicks into textbox */
}
.Playlist input:focus::placeholder {
    color: transparent; /* Removes placeholder when user clicks/focuses into textbox */
  }